<th:block th:fragment="footer">
    <section class="footer">
        <div class="box-containers">
            <div class="box">
                <h3>Liên Kết Nhanh</h3>
                <a href="./index.html"> <i class="fas fa-chevron-right"></i> Trang Chủ </a>
                <a href="./pages/services.html"> <i class="fas fa-chevron-right"></i> Dịch Vụ </a>
                <a href="./pages/contact.html"> <i class="fas fa-chevron-right"></i> Liên Hệ </a>
                <a href="./pages/timing.html"> <i class="fas fa-chevron-right"></i> Thời Gian Làm Việc </a>
                <a href="./pages/appointment.html"> <i class="fas fa-chevron-right"></i> Đặt Lịch Hẹn </a>
            </div>
            <div class="box">
                <h3>Dịch Vụ Của Chúng Tôi</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> chăm sóc răng miệng </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> liệu pháp massage </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> kiểm tra nhanh </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> chẩn đoán </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> thăm khám tại nhà </a>
            </div>
            <div class="box">
                <h3>Thông Tin Liên Hệ</h3>
                <a href="#"> <i class="fas fa-phone"></i> +124-333-222 </a>
                <a href="#"> <i class="fas fa-phone"></i> +124-333-222 </a>
                <a href="#"> <i class="fas fa-envelope"></i> xyz@gmail.com </a>
                <a href="#"> <i class="fas fa-envelope"></i> abc@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> TPHCM, Việt Nam - 400104 </a>
            </div>
            <div class="box">
                <h3>Theo Dõi Chúng Tôi</h3>
                <a href="#"> <i class="fa-brands fa-facebook"></i> facebook </a>
                <a href="#"> <i class="fa-brands fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fa-brands fa-instagram"></i> Instagram </a>
                <a href="#"> <i class="fa-brands fa-linkedin"></i> Linked-in </a>
                <a href="#"> <i class="fa-brands fa-pinterest"></i> Pinterest </a>
            </div>
        </div>
        <div class="credit">Được Tạo Với ❤️ Bởi <span>Hoà</span> | © 2025 Hoà, Mọi Quyền Được Bảo Lưu</div>
    </section>
</th:block>