<th:block th:fragment="header">
    <header class="header" id="nav">
        <a th:href="@{/}" class="logo d-flex align-items-center">
            <img th:src="@{/assets/logo.png}" alt="Logo" style="height: 30px; margin-right: 8px;">
            Veritas ENT
        </a>
        <nav class="navbar">
            <a th:href="@{/}" class="nav-links">Trang chủ</a>
            <a th:href="@{/doctors}" class="nav-links">Bác sĩ</a>


            <th:block th:if="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/login}" class="nav-links">Đăng nhập</a>
                <a th:href="@{/register}" class="nav-links">Đăng ký</a>
            </th:block>

            <th:block th:unless="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/changePass}" class="nav-links">Đổi mật khẩu</a>
                <a th:href="@{/profile}" class="nav-links">Đổi thông tin cá nhân</a>
                <a th:href="@{/patient/appointment}" class="nav-links">Đặt lịch</a>
                <a th:href="@{/patient/appointment/calendar}" class="nav-links">Lịch hẹn của tôi</a>
                <a th:href="@{/logout}" class="nav-links">Đăng xuất</a>
            </th:block>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </header>
</th:block>