<!DOCTYPE html>
<html lang="en" th:fragment="layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đổi thông tin cá nhân bác sĩ</title>
    <link rel="stylesheet" th:href="@{/assets_admin/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets_admin/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/assets_admin/css/style.css}">
    <link rel="shortcut icon" th:href="@{/assets_admin/images/favicon.ico}"/>
</head>

<body>
<th:block th:replace="layout/doctor-layout :: layout">
    <th:block th:fragment="pageContent">
        <div class="page-header d-flex justify-content-between align-items-center">
            <h3 class="page-title">Đổi thông tin cá nhân bác sĩ</h3>
            <a class="btn btn-warning" th:href="@{/changePass}">Đổi mật khẩu</a>
        </div>

        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin của tôi</h4>
                        <div th:if="${param.success}" class="alert alert-success" role="alert">
                            Cập nhật thông tin thành công!
                        </div>

                        <div th:if="${param.phone}" class="alert alert-danger" role="alert">
                            Số điện thoại bị trùng!
                        </div>
                        <form id="updateProfileForm" th:action="@{/doctor/profile/save}" th:object="${doctor}"
                              method="post">
                            <div class="form-group">
                                <label for="firstName">Họ</label>
                                <input type="text" class="form-control" th:field="*{firstName}" name="firstName"
                                       placeholder="Họ" required>
                                <div id="firstNameError" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <label for="lastName">Tên</label>
                                <input type="text" class="form-control" th:field="*{lastName}" name="lastName"
                                       placeholder="Tên" required>
                                <div id="lastNameError" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <label for="phoneNumber">Số điện thoại</label>
                                <input type="text" class="form-control" th:field="*{phoneNumber}" name="phoneNumber"
                                       placeholder="Số điện thoại" required>
                                <div id="phoneError" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <label for="specialization">Chuyên khoa</label>
                                <input type="text" class="form-control" th:field="*{specialization}"
                                       name="specialization" placeholder="Chuyên khoa" required>
                                <div id="specializationError" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <label for="yoe">Số năm kinh nghiệm</label>
                                <input type="number" class="form-control" th:field="*{yoe}" name="yoe"
                                       placeholder="Số năm kinh nghiệm" readonly>
                                <div id="yoeError" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <label>Email (không thể sửa)</label>
                                <input type="email" class="form-control" th:value="*{email}" name="email" readonly>
                            </div>

                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<script th:src="@{/assets_admin/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/assets_admin/js/misc.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("#updateProfileForm");

        form.addEventListener("submit", function (event) {
            let isValid = true;
            let message = "";

            document.getElementById('firstNameError').textContent = '';
            document.getElementById('lastNameError').textContent = '';
            document.getElementById('phoneError').textContent = '';
            document.getElementById('specializationError').textContent = '';
            document.getElementById('yoeError').textContent = '';

            const firstName = document.querySelector("[name='firstName']").value.trim();
            const namePattern = /^[a-zA-Z\s]+$/;
            if (!firstName) {
                document.getElementById('firstNameError').textContent = 'Họ không được để trống.';
                isValid = false;
            }

            const lastName = document.querySelector("[name='lastName']").value.trim();
            if (!lastName) {
                document.getElementById('lastNameError').textContent = 'Tên không được để trống.';
                isValid = false;
            } else if (!namePattern.test(lastName)) {
                document.getElementById('lastNameError').textContent = 'Tên không hợp lệ. Chỉ cho phép chữ.';
                isValid = false;
            }

            const phoneNumber = document.querySelector("[name='phoneNumber']").value.trim();
            const phonePattern = /^0\d{9}$/;
            if (!phoneNumber) {
                document.getElementById('phoneError').textContent = 'Số điện thoại không được để trống.';
                isValid = false;
            } else if (!phonePattern.test(phoneNumber)) {
                document.getElementById('phoneError').textContent = 'Số điện thoại không hợp lệ. Phải bắt đầu bằng số 0 và có 10 chữ số.';
                isValid = false;
            }

            const specialization = document.querySelector("[name='specialization']").value.trim();
            if (!specialization) {
                document.getElementById('specializationError').textContent = 'Chuyên khoa không được để trống.';
                isValid = false;
            }

            const yoe = document.querySelector("[name='yoe']").value.trim();
            if (!yoe) {
                document.getElementById('yoeError').textContent = 'Số năm kinh nghiệm không được để trống.';
                isValid = false;
            } else if (isNaN(yoe) || yoe < 0) {
                document.getElementById('yoeError').textContent = 'Số năm kinh nghiệm không hợp lệ.';
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
            }
        });
    });
</script>

</body>
</html>
